.fileSelector {
  position: relative;
}

.fileSelector .dropZone {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 10px;
  border: 2px dashed #B0B0B0;
  border-radius: 5px;
  overflow: hidden;
}

.fileSelector .dropZone .inputText {
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  text-align: center;
  color: #B0B0B0;
}

.fileSelector .dropZone .inputLabel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileSelector .dropZone .hiddenFileInput {
  display: none;
}
