.imageViewer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageViewer .imageView {
  position: absolute;
  top: 0px;
  bottom: 40px;
  width: 100%;
}

.imageViewer .imageView.hide {
  display: none;
}

.imageViewer .imageViewToolbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #B0B0B0;
  font-weight: normal;
  font-family: Arial;
  color: #FFFFFF;
}

.imageViewer .imageViewToolbar.hide {
  display: none;
}

.imageViewer .imageViewToolbar .chooseImage,
.imageViewer .imageViewToolbar .imageDimensionLabel,
.imageViewer .imageViewToolbar .imageZoomLabel,
.imageViewer .imageViewToolbar .imageLocationLabel {
  display: inline-block;
  height: 100%;
  width: 120px;
  line-height: 40px;
  vertical-align: top;
  text-align: center;
}

.imageViewer .imageViewToolbar .imageDimensionLabel,
.imageViewer .imageViewToolbar .imageZoomLabel,
.imageViewer .imageViewToolbar .imageLocationLabel {
  width: 90px;
}

.imageViewer .imageViewToolbar .chooseImage .dropZone {
  margin: 5px;
  border: none;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.imageViewer .imageViewToolbar .chooseImage .dropZone .inputText {
  color: #000000;
}

.imageViewer .imageViewToolbar .imageDimensionLabel,
.imageViewer .imageViewToolbar .imageZoomLabel,
.imageViewer .imageViewToolbar .imageLocationLabel {
  font-size: 13px;
}

.imageViewer .imageViewerOverlay {
  position: absolute;
  top: 0px;
  bottom: 40px;
  width: 100%;
}

.imageViewer .imageViewerOverlay.hide {
  display: none;
}

.imageViewer .imageViewerOverlay.fileSelector .dropZone .inputText {
  height: 60px;
  margin-top: -30px;
  line-height: 60px;
  font-size: 32px;
  opacity: 0.5;
  font-weight: bold;
  font-family: Arial;
}
